@font-face {
  font-family: "ficon";
  src: url("/public/fonts/ficon.woff?") format("woff"),
    url("/public/fonts/ficon.woff?#ficon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*="icon-"]:before {
  font-family: "ficon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category4:before {
  content: "\e817";
}

.icon-personalcard:before {
  content: "\f0e2";
}

.icon-truck3:before {
  content: "\eaa5";
}

.icon-add-square:before {
  content: "\ee7f";
}

.icon-truck-tick4:before {
  content: "\eaa8";
}

.icon-truck-fast3:before {
  content: "\eaa6";
}

.icon-colorfilter4:before {
  content: "\e842";
}

.icon-logout4:before {
  content: "\e946";
}

.icon-profile-2user4:before {
  content: "\e9d8";
}

.icon-people4:before {
  content: "\e9c8";
}

.icon-profile-add4:before {
  content: "\e9d9";
}

.icon-user4:before {
  content: "\eaae";
}

.icon-user-edit4:before {
  content: "\eab1";
}

.icon-sun-14:before {
  content: "\ea79";
}

.icon-sun-1:before {
  content: "\f0aa";
}

.icon-eye3:before {
  content: "\e8a4";
}

.icon-element-34:before {
  content: "\e890";
}

.icon-add-square:before {
  content: "\ee7f";
}

.icon-note-25:before {
  content: "\e9ab";
}

.icon-note-14:before {
  content: "\e9aa";
}

.icon-note-add4:before {
  content: "\e9ad";
}

.icon-wallet4:before {
  content: "\eacf";
}

.icon-wallet-add-14:before {
  content: "\ead4";
}

.icon-wallet-24:before {
  content: "\ead1";
}

.Toastify div {
  font-family: IRANSansWeb;
}

/*  custom input date picker */

.custom-input {
  width: 100%;
  display: block;
  font-size: 14px;
  border: 2px solid rgb(226 232 240);
  border-radius: 12px;
  margin-bottom: 4px;
  padding: 12px 16px;
  position: relative;
}

.custom-input:focus {
  outline: auto 2px rgb(49 46 129 / 0.2);
  border: 2px solid #A4A4A4;
}

.custom-input:focus-visible {
  outline-width: 0;

}

.custom-input::placeholder {
  font-size: 13px;
  font-weight: 300;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0px;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  left: 14px;
  top: 14px;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
